.retailer{
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    width:100%;
    background-color:#fff;
    min-height: 80vh;
    margin-top: -120px;
}