.App {
  text-align: center;
  height: 100%;
}

.scrollTop {
  position: fixed; 
  bottom: 50px;
  height: 40px;
  width:40px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  right:0;
  padding-right: 20px;
  padding-bottom: 20px;
  
}

.scrollTop:hover{
  opacity: 1;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
